<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看笔记</title>
    <style>
        body {
            padding: 45px 150px 0 150px;
            font-family: '微软雅黑';
            font-size: 34px;
        }
        a {
            color: #001ba0;
            text-decoration: none;
        }
        a:hover {
            color: #7a0090;
        }
    </style>
</head>
<body style="font-family: '微软雅黑';">
        <div>
            <p>
                标题 : {{ title }}
            </p>
            笔记内容 :
            <p>
                {{ content|safe }}
            </p>
            <p>
                <a href="/note/list">返回</a>
            </p>
        </div>
    </form>
</body>
</html>